body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 400px;
  padding: 20px;
  font-size: 4rem;
  background-color: hsl(0, 0%, 20%);
  border: none;
  text-align: left;
  color: #fff;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background-color: hsl(0, 0%, 30%);
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator {
  background-color: hsl(35, 100%, 55%);
}

.operator:hover {
  background-color: hsl(35, 100%, 65%);
}

.operator:active {
  background-color: hsl(35, 100%, 75%);
}

.menu__button,
.close__menu__button {
  color: #fff;
  font-size: 30px;
  padding: 20px 40px;
  cursor: pointer;
}

.container {
  position: relative;
}

.symbols__container {
  height: 340px;
  width: 140px;
  position: absolute;
  background-color: hsl(0, 0%, 50%);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translateX(-100%);
  transition: all 0.6s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.symbols {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.showSymbolsContrainer {
  transform: translateX(0);
  transition: all 0.6s ease;
}

.operator__red {
  background-color: hsl(0, 90%, 45%);
}

.operator__red:hover {
  background-color: hsl(0, 90%, 55%);
}

.operator__red:active {
  background-color: hsl(0, 90%, 65%);
}

@media screen and (max-width: 665px) {
  #calculator {
    width: 80vw;
  }

  button {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 665px) {
  .symbols__container {
    height: 440px;
    width: 220px;
  }
}
